apiVersion: v1
kind: ConfigMap
metadata:
  name: pgbouncer-cm
data:
  pgbouncer.ini: |
    [pgbouncer]
    listen_addr = 0.0.0.0
    listen_port = 6432
    pool_mode = transaction
    max_client_conn = 1000
    default_pool_size = 32
    reserve_pool_size = 32
    reserve_pool_timeout = 5.0
    query_wait_timeout = 30.0
    server_login_retry = 3
    server_idle_timeout = 300
    ignore_startup_parameters = extra_float_digits
    server_reset_query =
    auth_type = plain
    auth_file = /etc/pgbouncer/userlist.txt

    [databases]
    records = host=postgres.record-platform.svc.cluster.local port=5432 dbname=records user=record_app password=SUPER_STRONG_APP_PASSWORD pool_size=80
