apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pgdata-big
  namespace: record-platform
spec:
  accessModes: ["ReadWriteOnce"]
  storageClassName: standard
  resources:
    requests:
      storage: 100Gi

