apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: record-platform
spec:
  template:
    spec:
      containers:
      - name: app     # <- make sure this matches the real container name
        resources:
          requests:
            cpu: "70m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
