apiVersion: apps/v1
kind: Deployment
metadata:
  name: social-service
  namespace: record-platform
spec:
  template:
    spec:
      containers:
        - name: app
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secrets
          env:
            - name: POSTGRES_URL_SOCIAL
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: POSTGRES_URL_SOCIAL


