apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: record-platform
spec:
  template:
    spec:
      containers:
        - name: app
          envFrom:
            - configMapRef: { name: app-config }
            - secretRef:    { name: app-secrets }
