apiVersion: v1
kind: Service
metadata:
  name: haproxy
  namespace: record-platform
  labels: { app: haproxy }
spec:
  selector: { app: haproxy }
  ports:
    - { name: http,  port: 8081, targetPort: http }
    - { name: stats, port: 8404, targetPort: stats }
